In [1]:
import pandas as pd
import os
from src import model

In [2]:
# Go up one directory
import os
os.chdir("..")

In [3]:
Wheat = model.PyTradeShifts("Wheat", 2018)

In [4]:
Wheat.trade_data.head()

,Reporter Countries,Partner Countries,Element,Item,Unit,Quantity
2,Algeria,Canada,Export Quantity,Wheat,tonnes,3.00
3,Algeria,Italy,Export Quantity,Wheat,tonnes,6.00
6,Algeria,Niger,Export Quantity,Wheat,tonnes,42.00
9,Algeria,Republic of Korea,Export Quantity,Wheat,tonnes,0.00
10,Algeria,Switzerland,Export Quantity,Wheat,tonnes,0.01

In [5]:
Wheat.production_data.head()

Area
Afghanistan     3613300.00
Albania          240294.00
Algeria         3981219.15
Angola             2953.56
Argentina      18518045.00
Name: Production, dtype: float64

In [6]:
Wheat.trade_matrix.head()

,Afghanistan,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,...,United Kingdom of Great Britain and Northern Ireland,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
Wheat.trade_matrix.sum().sum()

190558598.23000002

In [8]:
Wheat.trade_matrix.shape

(182, 182)

In [9]:
Wheat.remove_re_exports()

Iteration 0
Iteration 1000
Iteration 2000
Iteration 3000
Iteration 4000
Iteration 5000
Iteration 6000
Iteration 7000
Iteration 8000
Iteration 9000
Iteration 10000

In [10]:
Wheat.production_data.index[6]

'Australia'

In [11]:
Wheat.trade_matrix.sum().sum()

153477175.8

In [12]:
Wheat.trade_matrix.loc[Wheat.production_data.index[6],Wheat.production_data.index[5]]

0.0

In [13]:
Wheat.trade_matrix.head(20)

,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Azerbaijan,Bangladesh,...,United Arab Emirates,United Kingdom of Great Britain and Northern Ireland,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Venezuela (Bolivarian Republic of),Yemen,Zambia,Zimbabwe
Algeria,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,4.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Argentina,0.0,0.00,1301430.0,0.0,0.0,0.00,0.00,0.00,0.00,246262.0,...,0.00,0.00,0.00,0.00,461.93,0.0,0.0,0.0,0.0,0.0
Armenia,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,7.00,0.00,0.0,0.0,0.0,0.0,0.0
Australia,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,91540.2,...,104946.31,2959.29,1008.18,0.00,0.00,0.0,0.0,474185.0,0.0,0.0
Austria,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,80.18,0.0,...,0.00,27.08,0.00,0.09,0.00,0.0,0.0,0.0,0.0,0.0
Bangladesh,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Belarus,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Belgium,0.0,0.00,0.0,0.0,0.0,0.00,0.00,1166.06,0.00,0.0,...,0.00,65.78,0.00,0.00,0.00,0.0,0.0,0.0,0.0,8.1
Bosnia and Herzegovina,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,1.05,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Brazil,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Bulgaria,0.0,0.50,0.0,0.0,0.0,0.00,0.00,243.28,0.00,0.0,...,0.00,162140.96,0.00,0.00,0.00,0.0,0.0,35000.0,0.0,0.0
Burundi,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Canada,0.0,0.00,877177.0,0.0,0.0,0.00,0.00,0.00,0.00,840319.0,...,344760.00,388707.00,90586.00,3149635.00,0.00,0.0,66001.0,0.0,0.0,28099.0
Chile,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,44.60,0.00,0.0,0.0,0.0,0.0,0.0
"China, mainland",0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.1,0.0,0.0,0.0,0.0
Croatia,0.0,980.56,0.0,0.0,0.0,0.00,0.00,31085.55,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Cyprus,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,...,0.00,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Czechia,0.0,0.00,0.0,0.0,0.0,0.04,0.00,189552.41,0.00,0.0,...,0.00,24.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Denmark,0.0,0.00,0.0,0.0,0.0,0.00,0.00,52.49,0.00,0.0,...,0.00,183997.65,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
Egypt,0.0,0.00,0.0,0.0,0.0,0.00,3.46,0.00,0.00,0.0,...,12.34,0.00,0.00,0.75,0.00,0.0,0.0,0.0,0.0,0.0