In [1]:
import pandas as pd
import os
from src import model

In [2]:


# Go up one directory
import os
os.chdir("..")

In [3]:
Wheat = model.PyTradeShifts("Wheat", 2018)

In [4]:
Wheat.trade_data.head()

,Reporter Countries,Partner Countries,Element,Item,Unit,Quantity
19,Argentina,Algeria,Export Quantity,Wheat,tonnes,1301430.00
24,Argentina,Bangladesh,Export Quantity,Wheat,tonnes,246262.00
29,Argentina,Bolivia (Plurinational State of),Export Quantity,Wheat,tonnes,75956.10
33,Argentina,Brazil,Export Quantity,Wheat,tonnes,5910540.00
42,Argentina,Chile,Export Quantity,Wheat,tonnes,621948.02

In [5]:
Wheat.production_data.head()

Area
Afghanistan     3613300.00
Albania          240294.00
Algeria         3981219.15
Angola             2953.56
Argentina      18518045.00
Name: Production, dtype: float64

In [6]:
Wheat.trade_matrix.head()

,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahrain,...,Uganda,Ukraine,United Arab Emirates,United Kingdom of Great Britain and Northern Ireland,United Republic of Tanzania,United States of America,Uzbekistan,Venezuela (Bolivarian Republic of),Viet Nam,Yemen
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Argentina,0.0,0.0,1301430.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,73119.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,195099.0,0.0

In [7]:
Wheat.trade_matrix.sum().sum()

184186156.25

In [8]:
Wheat.trade_matrix.shape

(134, 134)

In [9]:
Wheat.remove_re_exports()

Exception: Dot product shape mismatch, (210,) vs (105, 105)

In [ ]:
Wheat.production_data.index[6]

'Australia'

In [ ]:
Wheat.trade_matrix.loc[Wheat.production_data.index[6],Wheat.production_data.index[5]]

0.0