In [2]:
import pandas as pd
import os
from src import model

In [2]:
# Go up one directory
import os
os.chdir("..")

In [3]:
Wheat = model.PyTradeShifts("Wheat", 2021)

Loaded data for Wheat in 2018.
Finished building the trade matrix.

In [4]:
Wheat.trade_data.head()

,Reporter Countries,Partner Countries,Element,Item,Unit,Quantity
2,Algeria,Canada,Export Quantity,Wheat,tonnes,3.00
3,Algeria,Italy,Export Quantity,Wheat,tonnes,6.00
6,Algeria,Niger,Export Quantity,Wheat,tonnes,42.00
9,Algeria,Republic of Korea,Export Quantity,Wheat,tonnes,0.00
10,Algeria,Switzerland,Export Quantity,Wheat,tonnes,0.01

In [5]:
Wheat.production_data.head()

Area
Afghanistan     3613300.00
Albania          240294.00
Algeria         3981219.15
Angola             2953.56
Argentina      18518045.00
Name: Production, dtype: float64

In [6]:
Wheat.trade_matrix.head()

,Afghanistan,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,...,United Kingdom of Great Britain and Northern Ireland,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Algeria,0.0,0.0,0.0,0.0,0.0,1301430.0,0.0,0.0,0.0,0.0,...,4.0,0.0,344314.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# Example usage:
trade_data = [
    ['Algeria', 'Canada', 3.00],
    ['Algeria', 'Italy', 6.00],
    ['Algeria', 'Niger', 42.00],
    ['Algeria', 'Republic of Korea', 0.00],
    ['Algeria', 'Switzerland', 0.01]
]
df = pd.DataFrame(trade_data, columns=['Reporter Countries', 'Partner Countries', 'Quantity'])

In [8]:
Wheat.trade_matrix.sum().sum()

381117196.46

In [9]:
Wheat.trade_matrix.shape

(182, 182)

In [10]:
Wheat.remove_re_exports()

Ignoring countries without production data.
Removed countries with trade below the 75.0th percentile.

In [11]:
Wheat.trade_matrix

,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Azerbaijan,Bangladesh,...,Ukraine,United Kingdom of Great Britain and Northern Ireland,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Venezuela (Bolivarian Republic of),Yemen,Zambia,Zimbabwe
Afghanistan,3.233850e+06,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000,0.000000,3613.082374,0.000000,...,664.516080,0.000000,0.000000,498.078609,0.000000,2.973664e+04,0.0,0.000000,0.000000,0.00000
Albania,0.000000e+00,113920.859876,0.000000e+00,0.0,4.607342e+02,0.000000,615.052837,0.000000,436.637632,341.284854,...,1907.043425,0.000000,0.000000,1512.441810,0.000000,0.000000e+00,0.0,0.000000,0.000000,0.00000
Algeria,0.000000e+00,0.000000,1.356485e+06,0.0,3.274938e+05,0.000000,9712.208397,1860.731703,372.550347,2676.520643,...,27571.520332,15388.897035,0.000000,160618.459425,0.000000,0.000000e+00,0.0,0.000000,0.000000,0.00000
Angola,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.0,0.000000,0.000000,0.00000
Argentina,0.000000e+00,460.734202,3.274938e+05,0.0,1.347654e+07,509.834903,78892.239032,965.953460,2217.451765,38982.955750,...,186897.892717,10004.961871,298.647786,384992.916978,10504.964942,3.301185e+02,0.0,469.171937,0.000000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,2.973664e+04,0.000000,0.000000e+00,0.0,3.301185e+02,0.000000,830.741271,562.371086,16853.635243,0.000000,...,2891.825491,0.000000,0.000000,2073.681965,0.000000,3.935564e+06,0.0,0.000000,0.000000,0.00000
Venezuela (Bolivarian Republic of),0.000000e+00,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,422.462635,0.000000,0.000000e+00,0.0,0.000000,0.000000,0.00000
Yemen,0.000000e+00,0.000000,0.000000e+00,0.0,4.691719e+02,0.000000,12084.662570,0.000000,0.000000,0.000000,...,12398.651812,0.000000,0.000000,12774.570770,0.000000,0.000000e+00,0.0,2742.867670,0.000000,0.00000
Zambia,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.0,0.000000,106934.929031,0.00000
Zimbabwe,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,...,348.298862,0.000000,0.000000,1192.713354,0.000000,0.000000e+00,0.0,0.000000,0.000000,16817.03773

In [12]:
Wheat.production_data.index[6]

'Australia'

In [13]:
Wheat.trade_matrix.sum().sum()

730956973.7710407

In [8]:
df = pd.read_clipboard(index_col=0)
df.head()
df.shape

(112, 112)

In [9]:
df.head()

,Armenia,Afghanistan,Albania,Algeria,Argentina,Australia,Austria,Bangladesh,Bhutan,Bolivia (Plurinational State of),...,Ethiopia,Yemen,Zambia,Belgium,Luxembourg,Serbia,Montenegro,Sudan,South Sudan,Palestine
origin\destination,,,,,,,,,,,,,,,,,,,,,
Armenia,0.0,0.000000,0.000000,1.462500e-01,0.0,0.0,0.00000,0.023679,0,0.0000,...,0.011461,0.025202,0.0000,0.053275,0.001395,0.0,0.0,0.000000,0.00000,0.0
Afghanistan,0.0,0.000000,0.000000,0.000000e+00,0.0,0.0,0.00000,0.000000,0,0.0000,...,0.000000,0.000000,0.0000,0.000000,0.000000,0.0,0.0,0.000000,0.00000,0.0
Albania,0.0,0.000000,0.000000,0.000000e+00,0.0,0.0,0.00000,0.000000,0,0.0000,...,0.000000,0.000000,0.0000,0.000000,0.000000,0.0,0.0,0.000000,0.00000,0.0
Algeria,0.0,0.000000,0.000000,0.000000e+00,0.0,0.0,0.00000,0.026199,0,0.0000,...,0.000000,0.000000,0.0000,0.002059,0.000000,0.0,0.0,0.002361,0.00000,0.0
Argentina,0.0,0.002594,0.010522,1.301639e+06,0.0,0.0,0.25266,246454.724400,0,75970.9978,...,2.920400,6.929800,1.5831,107.020100,0.520130,0.0,0.0,17.345300,0.36375,0.0

In [12]:
# find the 75th percentile of complete dataframe df
df.quantile(0.75, axis=1).quantile(0.75)

8.738825

In [13]:
import numpy as np

In [16]:
np.percentile(df.values, 75)

0.113205

In [5]:
df = df.loc[df.sum(axis=1) > 0, :]
df = df.loc[:, df.sum(axis=0) > 0]
df.shape

(52, 102)